.modal-btn:hover {
    background: transparent;
    color: var(--clr-primary-5);
}

.modal-overlay {
    visibility: hidden;
    z-index: -10;
}

.open-modal {
    visibility: visible;
    z-index: 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --accent: #0d47a1;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
  }
}
